## 3.4: DataFrame

In [1]:
# リスト 3.4.1　DataFrame の作成

import pandas as pd

df = pd.DataFrame(
    [[1, 10, 100], [2, 20, 200], [3, 30, 300]],
    index=["r1", "r2", "r3"],
    columns=["c1", "c2", "c3"],
)
df

    c1  c2   c3
r1   1  10  100
r2   2  20  200
r3   3  30  300

In [2]:
# リスト 3.4.2　ラベルによるデータの選択

df.loc["r2", "c2"]

20

In [3]:
# リスト 3.4.3　すべての列を指定

df.loc["r2", :]

c1      2
c2     20
c3    200
Name: r2, dtype: int64

In [4]:
# リスト 3.4.4　すべての行を指定

df.loc[:, "c2"]

r1    10
r2    20
r3    30
Name: c2, dtype: int64

In [5]:
# リスト 3.4.5　行をリスト・列をスライスで指定して抽出

df.loc[["r1", "r3"], "c2":"c3"]

    c2   c3
r1  10  100
r3  30  300

In [6]:
# リスト 3.4.6　位置を指定したデータの選択

df.iloc[1:3, [0, 2]]

    c1   c3
r2   2  200
r3   3  300

In [7]:
# リスト 3.4.7　列を指定してデータを選択

df["c2"]

r1    10
r2    20
r3    30
Name: c2, dtype: int64

In [8]:
# リスト 3.4.8　DataFrame に対する比較演算

df > 10

       c1     c2    c3
r1  False  False  True
r2  False   True  True
r3  False   True  True

In [9]:
# リスト 3.4.9　比較演算によるデータの抽出

df.loc[df["c2"] > 10]

    c1  c2   c3
r2   2  20  200
r3   3  30  300

In [10]:
# リスト 3.4.10　複数の条件を組み合わせたデータの抽出
# c1列が1より大きくかつ、c3列が300より小さいデータ

df.loc[(df["c1"] > 1) & (df["c3"] < 300)]

    c1  c2   c3
r2   2  20  200