## 3.7: テキストデータの処理

In [1]:
# リスト 3.7.1　anime_master.csv の読み込み

from urllib.parse import urljoin
import pandas as pd

base_url = "https://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/"
anime_master_csv = urljoin(base_url, "anime_master.csv")
df = pd.read_csv(anime_master_csv)
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [2]:
# リスト 3.7.2　テキストを小文字に変換

df["name"].str.lower().head()

0                      kimi no na wa.
1    fullmetal alchemist: brotherhood
2                            gintama°
3                         steins;gate
4                            gintama'
Name: name, dtype: object

In [3]:
# リスト 3.7.3　テキストの分割

df["genre"].str.split().head()

0            [Drama,, Romance,, School,, Supernatural]
1    [Action,, Adventure,, Drama,, Fantasy,, Magic,...
2    [Action,, Comedy,, Historical,, Parody,, Samur...
3                                  [Sci-Fi,, Thriller]
4    [Action,, Comedy,, Historical,, Parody,, Samur...
Name: genre, dtype: object

In [4]:
# リスト 3.7.4　引数 expand に True を渡してテキストを分割

df["genre"].str.split(expand=True).iloc[:3, :5]

         0           1            2             3         4
0   Drama,    Romance,      School,  Supernatural      None
1  Action,  Adventure,       Drama,      Fantasy,    Magic,
2  Action,     Comedy,  Historical,       Parody,  Samurai,